<h1>Sign In<h1>

<%= form_with url: sign_in_path do |form|%>
<div class="mb-3">
    <%= form.label :email, "email"%>
    <%= form.text_field :email, class: "form-control", placeholder: "travis@gmail.com" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, "password" %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    <%= link_to 'Forgot Your Password', password_reset_path %>
  </div> 

    <div class="mb-3">
    <%= form.submit "Sign In", disable_with: 'Submiting...', class: "btn btn-primary"%>
  </div>
<% end %>