<h1>Sign Up</h1>

  <%= form_with model: @User, url: sign_up_path do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message| %>
          <div><%= message %> </div>
        <% end %>
      </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :email, "email"%>
    <%= form.text_field :email, class: "form-control", placeholder: "travis@gmail.com" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, "password" %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, "password confirmation" %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create User", disable_with: 'Submiting...', class: "btn btn-primary"%>
  </div>

<% end %>